.contact-palette-cell .unity-image {
    border-color: #989898;
}

.contact-palette-cell.toggle-active {
    background-color: #8F8F8F;
}

.simulation-toolbar-toggle:checked {
    background-color: #8CB9F3;
}